@charset "utf-8";
body{
	background:url(../img/nen.png) repeat;
}
h2{
	font-size:14pt;
	color:#42515f;
	font-weight:normal;
	margin:0;
}
h3{
	font-size:13pt;
	color:#42515f;
	font-weight:normal;
	margin:0;
	padding:1px;
	line-height:25px;
}
.header {
	width:100%;
	height:80px;
	background:#4c5a69;
}
.header-box{
	width:980px;
	padding:0 10px;
	padding-left:30px;
}
.top-menu{
	position:fixed;
	top:0;
	z-index:9999;
	right:3%;
	min-width:300px;
	width:80%;
	height:30px;
	padding-top:5px;
	background: #59728c; /* Old browsers */
	background: -moz-linear-gradient(top, #59728c 1%, #42515f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#59728c), color-stop(100%,#42515f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #59728c 1%,#42515f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #59728c 1%,#42515f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #59728c 1%,#42515f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #59728c 1%,#42515f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59728c', endColorstr='#42515f',GradientType=0 ); /* IE6-9 */
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:1px #424c57 solid;
	border-top:none;
}
ul.menu-list{
	list-style:none;
	float:left;
	display:block;
	height:35px;
}
ul.menu-list li.list-item{
	position:relative;
	float:left;
	padding-right:25px;
	font-size:12pt;
	line-height:25px;
	color:#FFF;
}
ul.menu-list li.list-item:hover{
	color:#DDF;
}
ul.menu-list li.list-item:hover .dropdown-menu{
	display:block;
}
.dropdown{
	position:absolute;
	top:23px;
	left:0;
}
.page{
	width:95%;
	min-width:980px;
	min-height:100px;
	padding-left:30px;
	margin-top:20px;
}
.footer{
	width:100%;
	height:100px;
	background:#42515f;
}
.clear{
	clear:both;
}
.container-box{
	background:#fafafa;
	padding:5px 10px;
	border:1px #999 solid;
	border-radius:5px;
	margin-bottom:15px;
	margin-top:5px;
}
.one-column, .two-column, .three-column{
	width:100%;
	clear:both;
}
.one-column .box-horizontal{
	width:100%;
}
.one-column .box-horizontal label, .two-column .horizontal label, .three-column .horizontal label{
	display:inline-block;
	float:left;
	width:100px;
	line-height:30px;
}
.two-column .box-horizontal{
	width:50%;
	float:left;
}
.three-column .box{
	width:33%;
	min-width:316px;
	float:left;
}
.three-column .horizontal input, .three-column .horizontal select{
	width:60%;
	
}
.button-box{
	text-align:right;
	background: #faf9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #faf9f9 0%, #f4f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf9f9), color-stop(100%,#f4f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #faf9f9 0%,#f4f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #faf9f9 0%,#f4f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #faf9f9 0%,#f4f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #faf9f9 0%,#f4f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f9', endColorstr='#f4f2f2',GradientType=0 ); /* IE6-9 */
	border-top:1px solid #999;
	width:100%;
	padding:5px 10px;
	margin-left:-10px;
	margin-bottom:-5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
}
.sub-box{
	background:#FFFFD7;
	width:100%;
	padding:10px;
	margin-left:-10px;
	margin-bottom:-5px;
	border-top:1px solid #999;
}
.box-title{
	background: #faf9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #faf9f9 0%, #f4f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf9f9), color-stop(100%,#f4f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #faf9f9 0%,#f4f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #faf9f9 0%,#f4f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #faf9f9 0%,#f4f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #faf9f9 0%,#f4f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f9', endColorstr='#f4f2f2',GradientType=0 ); /* IE6-9 */
	width:100%;
	padding:0px 10px;
	margin-left:-10px;
	margin-bottom:-5px;
	border-bottom:1px solid #999;
	margin-bottom:10px;
	margin-top:-5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	
}
.bg-chosen{
	background:#F0F3BA;
}
.table-box{
	margin-top:5px;
	border-radius:5px;
}
.table-box-title{
	width:99.2%;
	padding:0.3%;
	border:1px solid #4d6175;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.table-box-title span{
	border-left:1px solid #CCC;
	border-right:1px solid #fff;
	padding:3px 0;
	margin-left:3px;
	margin-right:3px;
	height:100%;
}
.table-dark-blue{
	background:#fafafa;
	border-radius:5px;
}
.table-dark-blue th{
	border:1px solid #4d6175;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #42515f;
	background-image: -moz-linear-gradient(top,#59728c,#42515f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#59728c),to(#42515f));
	background-image: -webkit-linear-gradient(top,#59728c,#42515f);
	background-image: -o-linear-gradient(top,#59728c,#42515f);
	background-image: linear-gradient(to bottom,#59728c,#42515f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59728c',endColorstr='#ff42515f',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	
}
.table-dark-blue td{
	border:1px solid #4d6175;
}

.table td{
	padding-top:4px;
	padding-bottom:4px;
}
.form-horizontal .fix-width{
	width:120px;
	text-align:left;
}
.form-horizontal .fix-margin{
	margin-left:130px;
}
.form-horizontal .control-group{
	margin-bottom:2px;
}
.control-group{
	margin-bottom:2px;
}
.fix-height {
	width:85%;
	height:20px;
	padding:1px 2px !important;	
}
select.fix-height{
	height:24px;
	padding-right:10px;
}
.box-show{
	border:1px solid #999;
	line-height:35px;
	border-radius:5px;
	background: #d9edf7; /* Old browsers */
	margin-bottom:5px;
	font-size:13pt;
	color:#3a87ad;
}
.box-hide{
	border:1px solid #999;
	line-height:35px;
	height:35px;
	border-radius:5px;
	background: #fafafa; /* Old browsers */
	color:#999;
	font-size:13pt;
}
.box-hide:hover{
	background: #d9edf7; 
	cursor:pointer;
}
.box-show-icon{
	padding:10px;
	padding-right:5px;
	height:100%;
	
}
.box-show-content{
	background:#fff;
	color:#333;
	width:99%;
	padding:0.5%;
	height:auto;
	border-top:1px solid #999;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

